.container {
  background-color: rgb(40, 44, 36);
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.element {
  background-color: rgb(241, 240, 232);
  height: 50%;
  width: 50%;
  border-radius: 20px;
  transition: transform 1s;
}

.container:hover .element {
  transform: translateY(100%);
}
